:root{
    --color-brand-accent-magenta: #D462AD;
    --color-brand-accent-magenta-hover: #CA3F9B;
    --color-brand-accent-turqoise: #00C6D7;
    --color-brand-core-blue: #00629B;
    --color-brand-core-navy: #182B49;
    --corner-radius-brand: 8px;
    --brand-border: solid 1px var(--color-brand-core-navy);
    --brand-heading3-font: 400 1.5rem/1.5 "Roboto";
}
.three-by-two-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(285px, 1fr));
    gap: 10px;
}
li.card,
.card {
    text-decoration: none;
    border-radius: var(--corner-radius-brand);
    overflow: clip;
    position: relative;

    /* For usability/accessibility we're treating this an element of a card, not body */
    & a.card__link-target::after {
        bottom: 0;
        content: "";
        left: 0;
        min-height: 44px;
        min-width: 44px;
        position: absolute;
        right: 0;
        top: 0;
    }

    & .card__body {
        padding-inline: 10px;
        padding-block-end: 1rem;
        text-wrap-style: pretty;

        span {
            font: var(--brand-heading3-font);
            padding-block: 10px;
            display: block;
        }

        a {
            text-decoration: underline;
        }

        height: 100%;
    }
}

.card.card--tile{
    border: #000 1px solid;
    border-radius: initial;
    padding: 1rem;
    height: fit-content;
    & .card--tile__image{
        width: 60px;
        img{width:100%};
    }
}